main {
  min-height: 75vh;
}

/*------Header---------------*/
header {
  width: 100%;
  height: 7rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(100, 100, 100);
  color: #fff;
}

.header-heading {
  width: 50%;
  display: flex;
  padding-left: 2rem;
  flex-direction: row;
  font-size: 5rem;
  font-family: 'Dancing Script', sans-serif;
  text-align: left;
}

.buttons-wrapper {
  width: 50%;
  height: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: rgb(100, 100, 100);
  border-radius: 1rem;
}

.home-button {
  height: 3rem;
  background-color: rgb(100, 100, 100);
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 2.5rem;
  border: none;
  cursor: pointer;
}

.home-button:hover {
  border-bottom: 2px solid #fff;
}

.line {
  width: 0.3rem;
  height: 3rem;
  margin: 0 3rem;
  background-color: #fff;
}

.user-selection {
  height: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 2.5rem;
}

#users {
  height: 3rem;
  width: 20rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 8rem;
  z-index: 1;
  margin-left: 1rem;
  background-color: rgb(100, 100, 100);
  color: #fff;
  font-size: 1.7rem;
  border: 2px solid #fff;
  border-radius: 0.5rem;
}

#users:hover .user-option {
  display: flex;
}

.user-option {
  display: none;
  height: 3rem;
  min-width: 15rem;
  padding: 1.2rem;
  background-color: rgb(100, 100, 100);
  font-size: 2.3rem;
  align-items: center;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 0.5rem;
  text-decoration: none;
  cursor: pointer;
}

.user-option:hover {
  background-color: rgb(78, 140, 255);
}

.checkbox-wrapper {
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox-desc {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 2.5rem;
}

.switch {
  height: 3rem;
  width: 5.7rem;
  position: relative;
  display: flex;
  margin-left: 1rem;
}

.post-checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 2.3rem;
  width: 2.3rem;
  left: .4rem;
  bottom: .4rem;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.post-checkbox:checked + .slider {
  background-color: #2196F3;
}

.post-checkbox:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.post-checkbox:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 3rem;
}

.slider.round:before {
  border-radius: 50%;
}